{% extends "layouts/base.njk" %}
{% set bodyClass = 'page-blog' %}
{% set pageCriticalStyles = ['css/blog.css'] %}
{% set pageHeaderTitle = title %}
{# {% set pageHeaderSummary = summary %} #}

{% block content %}

  {% include "partials/page-header.njk" %} 

  

  <div class="wrapper [ gap-bottom-800 ]">
    <div class="flow flow-space-300 measure-long">
      <div class="author">
        <div>
          <img src="{{ authorImg }}">
        </div> 
        <div class="author__name">By {{ authorName }}</div>
      </div>
      <div class="gap-bottom-800">
        <img src="{{ articleImg }}">
      </div>
      {{ content | safe }}
    </div>
  </div>

  {% include "partials/contacts-simple.njk" %}    

{% endblock %}