{% extends "layouts/base.njk" %}
{% set bodyClass = 'page-campaign' %}
{% set pageCriticalStyles = ['css/campaign.css', 'css/contact.css'] %}
{% set pageHeaderTitle = title %}
{% set blogItems = collections.blogs %} 
{% set workItems = collections.tech %} 
{% set workListHeadline = "Tech Branding Case Studies" %}

{% block content %}

  <article>

    {% include "partials/page-header.njk" %}

    <div class="wrapper [ gap-bottom-800 ]">
      <div class="flow flow-space-300 measure-long">
        {{ content | safe }}
      </div>
    </div>

  {% include "partials/blog-list.njk" %}    

  <div class="gap-top-900">
    {% include "partials/work-list.njk" %}
  </div>

  </article>

  {% include "partials/contacts-simple.njk" %}    

{% endblock %}