{% extends "layouts/base.njk" %} 
{% set pageCriticalStyles = ['css/work.css'] %}
{% set bodyClass = 'page-work-landing' %}
{% set pageHeaderTitle = title %} 
{% set pageHeaderSummary = content %} 
{% set workItems = collections.work %} 

{% block content %}

  <article class="visually-hidden">
    {% include "partials/page-header.njk" %}
  </article>

  {% include "partials/work-list.njk" %}

{% endblock %}