// First up: config and functions
@import "config";

// Set Gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in gorko for design tokens
@import "../../node_modules/gorko/gorko.scss";

// .page-blog {
//   .site-menu, .site-foot {
//     display: none;
//   }
// }

.author {
  display: flex;
  align-items: center;

  &__name {
    margin-left: 5px;
  }
}
