<div class="gap-top-900 gap-bottom-900">
  {% set pageHeaderTitle = "Curious? Get in touch" %}
  {% set pageHeaderSummary = "If there's anything we can do for you, or you can do for us, or even if you're just curious, we'd love to hear from you." %} 
  {% include "partials/page-header.njk" %} 
  <div class="wrapper">
    <ul class="[ contacts__list ] [ flow flow-space-600 ] [ font-header-med ]">
      {% include "partials/contacts__list.njk" %} 
    </ul>
  </div>
</div>    