<img src="https://res.cloudinary.com/curiousways/image/upload/v1641485242/cwys_website/living_wage_trfgly.png"
  class=""
  alt="We are a living wage employer"
  lazy="true"
  height="103"
  width="131"
>