{% set pageHeaderTitle = workTitle %} 

{% include "partials/page-header.njk" %}

<article class="[ panel ] [ animate__animated animate__fadeIn animate__delay-1s animate__faster ]">

  <div class="[ work-details ] [ wrapper ]">

    {% if workQuote %}

      <p class="[ work-details__intro ]">{{ workSummary|safe }}</p>

    {% endif %}  

    <div class="[ work-details__about ]">

    {% if workQuote %}
  
      <div class="[ work-details__quote ]">
  
        <blockqoute class="[ work-description__quote ]">
          <p>{{ workQuote }}</p>
        </blockqoute>
  
      </div>

    {% else %}

      <p class="[ work-details__intro ]">{{ workSummary|safe }}</p>

    {% endif %}  
  
      <div class="[ work-details__services ]">
  
        <ul>
          {% for item in workServices %}
            <li>
              <span>{{ item.service }}</span>
            </li>
          {% endfor %}
        </ul>
  
      </div>
  
      {% if workQuote %}
        <div class="[ work-details_company ]">
          <div>
            {{ workQuoteSource }}
          </div>
        </div>
      {% endif %}
  
      {% if workURL %}
        <div class="[ work-details__website ]">
          {% set linkURL= workURL %}
          {% set linkText = workWeb %}
          {% set linkExtras = "target=_blank rel=noreferrer" %}
          {% include "partials/link.njk" %}
        </div>
      {% endif %}
    
    </div>

  </div>

</article>